.main {
  @apply w-screen h-screen bg-[#fceedd] flex justify-center items-center bg-no-repeat bg-center bg-cover shadow-md;
}

.lef-box {
  @apply w-[31.25rem] h-[31.25rem] items-center bg-no-repeat text-amber-700 font-bold flex flex-1 justify-center flex-col p-8 rounded-tl-lg rounded-bl-lg bg-center shadow-md;
  background-image: url(../assets/b26dd40e0705dfdea6d3bd918495b64c.jpg);
}

.inputs {
  @apply h-10 w-[18.625rem] border-[2px] focus:outline-none border-[#ffe4c4] bg-white rounded-lg px-[0.125rem] flex flex-col outline-none;
}

.presentacion{
  background-color: #ffe4c4;
  border-radius: 10px;
  padding: 5px;
}